<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa; /* Fondo claro */
        }
        .container {
            margin-top: 50px;
        }
        .card {
            border-radius: 15px; /* Bordes redondeados para las tarjetas */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
        }
    </style>
</head>
<body>
    <div class="container text-center">
        <h1 class="my-4">Pagina Principal</h1>
        {% if user.authenticated %}
        <div class="card p-4">
            <p class="mb-1">Hola, <strong>{{user.username}}</strong>!</p>
            <p>Ingresa para ver tus publicaciones</p>
            <a href="{% url 'blog-home' %}" class="btn btn-primary">Area 51 Marketplace</a>
        </div>
        {% else %}
        <div class="card p-4">
            <p class="mb-2">Crea tu cuenta</p>
            <a href="{% url 'login' %}" class="btn btn-success mx-2">Log In</a>
            <a href="{% url 'signup' %}" class="btn btn-warning mx-2">Sign Up</a>
        </div>
        {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
